html
{
    margin: 0;
    padding: 0;
    background-image: url('/img/fonWeb.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header
{
    background-color:bisque;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 50px;
}

body
{
    font-family: Arial;
}

fieldset
{
    border-color: azure;
    padding: 40px;
    width: 100px;
    border-radius: 10px;
    background-color: bisque;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.UpperText
{
    text-align: center;
    font-size: 35px;
    color:rgb(0, 0, 0);
}

.CenterText
{
    font-size: 25px;
    padding:20px;
}

.ButtonText
{
    text-align: center;
    margin-top: 20px;
}

.ErrorLog
{
    color: red; 
    font-size: 20;
}