html
{
    margin: 0;
    padding: 0;
    background-image: url('/img/fonProfile.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}